.psuedo-process-container {
  height: 100vh;
  background-color: rgba(131, 90, 232, 0.45);
  display: flex;
  justify-content: center;
  align-items: center; }

.process-container {
  height: 100vh;
  background-image: url(../images/fish.jpg);
  background-attachment: fixed;
  background-size: cover; }

.process-content-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 25px;
  border-radius: 10px;
  font-size: 40px;
  width: 20vw;
  font-family: "Poiret One", cursive; }

.bold-red {
  color: #ff5c67;
  font-weight: bolder; }

.process {
  font-weight: bolder;
  text-decoration: underline; }

.process-btn {
  font-family: "Raleway", sans-serif;
  background: white;
  color: #835ae8;
  border: solid black 1px;
  padding: 5px 10px;
  box-shadow: 2px 2px 10px black;
  transition: all 100ms ease-in-out; }
  .process-btn:hover {
    box-shadow: 0.5px 0.5px 6px black;
    background: #835ae8;
    color: white;
    cursor: pointer; }

@media (max-width: 1200px) {
  .process-container {
    background-image: url(../images/mobile-process-section-bg.jpg); } }
@media (max-width: 940px) {
  .process-content-container {
    width: 40vw; } }
@media (max-width: 415px) {
  .process-content-container {
    width: 75vw; } }
